*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */

h3 {
  font-size: 16px;
}

.link:link,
.link:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

header {
  background-color: rgba(229, 226, 226, 0.705);
  width: 100%;
  padding: 10px;
  /* margin-bottom: 20px; */
}

/* Pseudo */
header h2::first-letter {
  font-style: normal;
  font-size: 40px;
  /* margin-right: 5px; */
}

/* CSS GRID */
.container {
  display: grid;
  width: 60%;
  grid-template-columns: 250px 1fr 1fr;
  margin: 50px auto;
  border: 3px solid black;
  position: relative;
  column-gap: 30px;
}

.brand-title {
  grid-column: 1/-1;
}

.btn {
  grid-column: 1/-1;
}

img {
  width: 250px;
  height: 250px;
}

.price {
  font-weight: 800;
}

.shipping-title {
  font-size: 12px;
  font-weight: bolder;
  color: rgb(172, 165, 165);
  text-transform: uppercase;
}


.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wear-description {
  margin-bottom: 20px;
}



article {
  margin-top: 30px;
}

aside {
  margin-top: 30px;
}

/* manual calc buty unnecessary with flexbox 803 - 3 - 250 */
/* FLEXBOX */
/*


article {
  display: flex;
  flex: 1
}

.rows {
  display: flex;
  gap: 30px;
}

.product {
  display: flex;
  gap: 30px
}

.row {
  margin-top: 30px;
  flex: 1;
}


*/
/* END FLEXBOX */


header h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -18px;
  right: 150px;
}

/* header h2::before {
  content: "SALE";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -12px;
  left: 150px;
} */

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;
  position: absolute;
  top: -16px;
  left: -34px;
}

header button {
  position: absolute;
  bottom: 60px;
  right: 10px;
  padding: 15px;
  cursor: pointer;
}

.brand-title {
  font-weight: 800;
  text-align: center;
}

li {
  list-style: square;
  margin-left: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.details-title {
  margin-bottom: 10px;
}

.link {
  display: inline-block;
  margin-bottom: 40px;
}

.color {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.color {
  background-color: #000;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: #ec2f2f;
}

.color-yellow {
  background-color: #f0bf1e;
}

.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}

.btn {
  outline: none !important;
  border: 0px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background-color: white !important;
  color: black !important;
  border-top: 3px solid #000;
  cursor: pointer;
}